@import url(reset.css);

 *{ 
   color: blue;
}

h1{
   color: red;
}

.bird p{
   color: royalblue;
}

.bird .parker{
   color: black;
}

.text p{
   color: lightsalmon;
}

.bebop p{
   color: blueviolet;
}

.text + p{
   color: lightslategray;
}

.dependence p{
   color: lightseagreen;
}

 #blow{
   color: firebrick;
}

.later-years p{
   color: darksalmon;
}

.later-years.death p{
   color: rosybrown;
}

#loverman{
   color: lightcoral;
}

h2{
   color:brown;
}

[class*="history"]{
   color: darkslateblue;
}